<footer>
    <hr>
        <div class="row align-center">
            <div class="columns">
                <%= link_to '<img alt="Defibrillatori Philips" src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png">', '/iredeem' %></li>
                <i>P.za dei Martiri 1943-1945 n. 1 - 40121 Bologna</i> | P.IVA: 10574970017 | <a href="https://www.defibrillatori-online.com/iredeem" target="_blank">Chi siamo</a>
                <p style="padding-left:15px">
                    <a href="//www.iubenda.com/privacy-policy/342605" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                </p>
            </div>
        </div>
</footer>