<footer>
    <hr>
        <div class="row align-center">
            <div class="columns">
                <%= link_to '<img alt="Defibrillatori Philips" src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png">', '/iredeem' %></li>
                <i>P.za dei Martiri 1943-1945 n. 1 - 40121 Bologna</i> | P.IVA: 10574970017 | <a href="https://www.defibrillatori-online.com/iredeem" target="_blank">Chi siamo</a>
            </div>
    <hr>
        </div>
</footer>