<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#shop">
                <span class="sconto">35% di Sconto </span>
                <br><span class="subSconto">Promozione valida fino al <span class="dataPromo">31 Gennaio 2016</span></span><br>
            </a>
        </div>
</div>

<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#shop">
                <span class="sconto">35% di Sconto </span>
                <br><span class="subSconto">Promozione valida fino al <span class="dataPromo">31 Gennaio 2016</span></span><br>
            </a>
        </div>
</div>