---
title: Manichini per Addestramento BLS-D RCP - Sconto 35%
description: Acquista Online i Manichini Prestan per il Tuo Corso BLS-D RCP: Manichini Adulti, Pediatrici, e Neonatali. Spedizione Veloce e Gratuita!
conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <!-- /MOMENT -->
---
<body>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><a href="/"><img src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png"></a></li>
            <li class="menu-text"><a href="https://www.blsd-online.com/collections/manichini-rcp-d/manichini" target="_blank">Negozio<span class="show-for-large">-online</span></a></li>
        </ul>
    </div>
</div>

<br>

<div class="row">
    <div class="medium-12 columns">
    <h1>Manichini Prestan per addestramento BLS-D RCP</h1>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/0d73f7fe6c3a1b0aa7f4260ea4a59e1c5c388125_testata-prestan.png">
    </div>
</div>

<%= partial "partials/promo_section" %>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row align-center">
    <div class="column small-12 center">
            <h2>Manichini realistici, leggeri ed economici<h2>
            <h3 class="subheader">Perfetti per un addestramento alla BLS-D e RCP di alta qualità</h3>
    </div>
</div>
<p></p>
<div class="row small-up-1 medium-up-2">
    <div class="column">
        <h5><i class="fa fa-lightbulb-o" aria-hidden="true"></i> <strong>Spie luminose</strong> per il controllo della frequenza</h5>
        <div>
            <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/42e0227420dc577c5100f0d5822f15dcebf3afa4_lucine_manichino.jpg" >
        </div>
        <p>
            I manichini professionali Prestan sono dotati di un innovativo <strong>monitor
            della frequenza RCP</strong> che permette all’istruttore ed allo studente il
            controllo delle <strong>compressioni toraciche</strong>. Il controllo delle spie luminose
            permette allo studente di praticare le compressioni con una frequenza
            di 100 volte al minuto.
        </p>
    </div>
    <div class="column">
        <h5><i class="fa fa-volume-up" aria-hidden="true"></i> <strong>Clicker acustico</strong> per il controllo della profondità</h5>
        <div>
            <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/fdd3eaa824ad88690a3bd1c53b1867d81cb6869c_prestan.jpg" >
        </div>
        <p>
            Oltre al monitor RCP, gli studenti possono <strong>udire un ‘click’ ogni volta che il torace viene
            premuto alla corretta profondità</strong>, permettendo così di sperimentare la forza necessaria
            per praticare reali compressioni toraciche.
        </p>
    </div>
    <div class="column">
        <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Vie aeree <strong>sostituibili</strong> per ventilazioni efficaci</h5>
        <div>
            <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/0b29ddadbcd31675809954605ce420a85a2e7728_torace-prestan.png" >
        </div>
        <p>
            Grazie alla facile apertura a conchiglia del torace sarà possibile <strong>sostituire rapidamente</strong> le vie aeree usurate dal continuo utilizzo.<br>
        </p>
        <p>
            L’istruttore e lo studente saranno sempre nelle condizioni di verificare l’efficacia delle ventilazioni attraverso la corretta espansione del torace.
        </p>
    </div>
    <div class="column">
        <h5><i class="fa fa-shopping-bag" aria-hidden="true"></i> Venduti con <strong>tutto il necessario</strong></h5>
        <div>
            <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/d8ad203f401d9d091f941c3dc0dfc07f31004612_detttagli_fornitura_prestan.jpg" >
        </div>
        <p>
            Ciascun manichino viene venduto con:
            <ul>
                <li>
                    <strong>Borsa</strong> per il trasporto che può essere utilizzata come <strong>tappetino</strong> durante l’addestramento
                </li>
                <li>
                    10 vie <strong>aeree/protezioni</strong> facciali
                </li>
                <li>
                    <strong>Istruzioni</strong> per l'uso
                </li>
            </ul>
        </p>
    </div>
</div>

<%= partial "partials/rowCallToAction" %>

<hr class="show-for-medium">
<div class="row show-for-medium">
    <div class="small-12 medium-12 large-6 columns">
        <h4 class="subheader">Uso del manichino BLS-D <strong>adulto</strong></h4>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zYc1jeFYvlE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="small-12 medium-12 large-6 columns">
        <h4 class="subheader">Uso del manichino BLS-D <strong>neonatale</strong></h4>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IQcOkluNh9Y?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr>

<div class="row" id="shop">
<h3><i class="fa fa-shopping-cart" aria-hidden="true"></i> Manichini Prestan disponibili</h3>
</div>

<div class="row">
    <div class="columns">
        <div class="row small-up-1 medium-up-3">
            <div class="column">
                <p>
                    <h4><i>Manichino BLS-D <strong>adulto</strong></i></h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/929fcbe52f10a1fb5762497ef0873932bdaeb8ac_pp-am-100m-ms-p.jpg">

                </p>
            </div>
            <div class="column">
                <p>
                    <h4><i>Manichino BLS-D <strong>pediatrico</strong></i></h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/a9e80a35171937aafe24872cf81825cc938c0801_pp-cm-100m-ms.jpg">

                </p>
            </div>
            <div class="column">
                <p>
                    <h4><i>Manichino BLS-D <strong>neonatale</strong></i></h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/096f69ce832d55522e746e516a728db39a66151c_pp-im-100m-ms.jpg">

                </p>
            </div>
        </div>
        <!-- <div data-accent_color="767676" data-background_color="ffffff" data-button_background_color="479ccf" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="Il tuo carrello" data-cart_total_text="Total" data-checkout_button_text="Vai alla Cassa" data-discount_notice_text="Shipping and discount codes are added at checkout." data-embed_type="cart" data-empty_cart_text="Your cart is empty." data-shop="tuttoblsd.myshopify.com" data-sticky="true" data-text_color="000000"></div>
        <div data-background_color="ffffff" data-button_background_color="479ccf" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Acquista Subito" data-collection_handle="manichini-per-landing" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="tuttoblsd.myshopify.com"></div>
        <script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script> -->
    </div>
</div>
<p></p>
<%= partial "partials/rowCallToAction" %>
<div class="row">
    <div class="callout">
        <div class="row small-up-1 medium-up-2">
                <div class="column">
                    <p><h5><i class="fa fa-truck" aria-hidden="true"></i> <strong>Spedizioni gratuite</strong> per ordini superiori a 150 Euro</h5></p>
                </div>
                <div class="column">
                    <p><h5><i class="fa fa-clock-o" aria-hidden="true"></i> Consegne entro <strong>5 giorni</strong> lavorativi</h5></p>
                </div>
                <div class="column">
                    <p><h5><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Pagamento con <strong>Carta di Credito o Bonifico Bancario</strong></h5></p>
                </div>
                <div class="column">
                    <p><h5><i class="fa fa-phone" aria-hidden="true"></i> Dubbi? Chiama il numero verde: <strong>800 782 217</strong></h5></p>
                </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
</body>
